/************************************************************************************/
/*                          GLOBAL STYLING                                        */
/************************************************************************************/
:root {

    /**
     * COLORS
     */

    /** Background colors */
    --bg-carolina-blue: rgb(35, 211, 255);
    --bg-buttons: rgb(36, 29, 29);
    --bg-oxford-blue: rgba(125, 145, 176, 0.75);
    --bg-oxford-blue-2: rgb(225, 225, 225);

    /** Text colors */
    --text-white: rgb(240, 246, 255);
    --text-default: hsla(217, 24%, 59%, 1);
    --text-carolina-blue: hsla(199, 89%, 49%, 1);
    --text-slate-gray: hsla(217, 17%, 48%, 1);
    --text-dark-blue: rgb(68, 79, 119);
    --text-dark-brown: rgb(36, 29, 29);

    /** Gradient colors */
    --gradient-1: linear-gradient(90deg, #a5b7c6, #8ba9ca 51%);
    --gradient-2: linear-gradient(90deg, #000000, #434343 51%, #434343);
    --gradient-3: linear-gradient(0deg, #000d1a, transparent);

    /** Border colors */
    --border-prussian-blue: rgb(88, 111, 147);
    --border-white: hsl(0, 0%, 100%);
    --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);

    /** Default colors */
    --white: hsl(0, 0%, 100%, 1);
    --black: hsl(0, 0%, 0%, 1);

    /**
     * TYPOGRAPHY
     */

    /** Font family */
    --fontFamily-noto_sans: 'Noto Sans', sans-serif;

    /** Font size */
    --fontSize-1: 2.9rem;
    --fontSize-2: 2.0rem;
    --fontSize-3: 1.8rem;
    --fontSize-4: 1.6rem;
    --fontSize-5: 1.5rem;
    --fontSize-6: 1.4rem;
    --fontSize-7: 1.2rem;
    --fontSize-8: 1.3rem;

    /** Font weight */
    --weight-medium: 500;
    --weight-semiBold: 600;
    --weight-bold: 700;
    --weight-extraBold: 800;

    /** Line height */
    --lineHeight-1: 1.3;
    --lineHeight-2: 1.5;
    --lineHeight-4: 1.5;

    /**
     * BOX SHADOW
     */

    --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
    --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
    --shadow-strong: 0 4px 6px rgba(0, 0, 0, 0.5);

    /**
     * BORDER RADIUS
     */

    --radius-6: 6px;
    --radius-8: 8px;
    --radius-16: 16px;
    --radius-48: 48px;
    --radius-circle: 50%;
    --radius-pill: 200px;

    /**
     * SPACING
     */

    --section-padding: 70px;

    /**
     * TRANSITION
     */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    display: block;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/************************************************************************************/
/*                       Navbar  Styling                                            */
/************************************************************************************/

.header .btn {
    display: none;
}

.header {
    margin-top: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 24px;
    z-index: 999;
}

.header.active {
    padding-block: 8px;
    box-shadow: var(--shadow-1);
    border-block-end: 1px solid var(--bg-buttons);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.glassmorphism-nav {
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 100px;
    padding: 20px;
    height: 15px;
    width: 100%;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 9999;
}

.glassmorphism-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.glassmorphism-nav a {
    margin-top: 16px;
    color: var(--text-dark-blue);
    text-decoration: none !important;
    position: relative;
    padding: 10px;
    z-index: 1;
}

.glassmorphism-nav a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px);
    border-radius: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.glassmorphism-nav a:hover {
    color: var(--text-dark-blue) !important;
}

.glassmorphism-nav a:hover::before {
    color: var(--text-dark-blue) !important;
    opacity: 1;
}

/************************************************************************************/
/*                       Content  Styling                                            */
/************************************************************************************/

h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

main {
    padding: 20px;
}

h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}

h1 em {
    font-style: normal;
    font-weight: 600;
}

.parent-container {
    display: flex;
    flex-direction: column;
}

body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}