/********** VARIABLES **********/
:root {

  /**
   * COLORS
   */

  /** Background colors */
  --bg-carolina-blue: rgb(35, 211, 255);
  --bg-buttons: rgb(36, 29, 29);
  --bg-oxford-blue: rgba(125, 145, 176, 0.75);
  --bg-oxford-blue-2: rgb(225, 225, 225);

  /** Text colors */
  --text-white: rgb(240, 246, 255);
  --text-default: hsla(217, 24%, 59%, 1);
  --text-carolina-blue: hsla(199, 89%, 49%, 1);
  --text-slate-gray: hsla(217, 17%, 48%, 1);
  --text-dark-brown: rgb(36, 29, 29);

  /** Gradient colors */
  --gradient-1: linear-gradient(90deg, #a5b7c6, #8ba9ca 51%);
  --gradient-2: linear-gradient(90deg, #000000, #434343 51%, #434343);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);

  /** Border colors */
  --border-prussian-blue: rgb(88, 111, 147);
  --border-white: hsl(0, 0%, 100%);
  --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);

  /** Default colors */
  --white: hsl(0, 0%, 100%, 1);
  --black: hsl(0, 0%, 0%, 1);

  /**
   * TYPOGRAPHY
   */

  /** Font family */
  --fontFamily-noto_sans: 'Noto Sans', sans-serif;

  /** Font size */
  --fontSize-1: 2.9rem;
  --fontSize-2: 2.0rem;
  --fontSize-3: 1.8rem;
  --fontSize-4: 1.6rem;
  --fontSize-5: 1.5rem;
  --fontSize-6: 1.4rem;
  --fontSize-7: 1.2rem;
  --fontSize-8: 1.3rem;

  /** Font weight */
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;
  --weight-extraBold: 800;

  /** Line height */
  --lineHeight-1: 1.3;
  --lineHeight-2: 1.5;
  --lineHeight-4: 1.5;

  /**
   * BOX SHADOW
   */

  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
  --shadow-strong: 0 4px 6px rgba(0, 0, 0, 0.5);

  /**
   * BORDER RADIUS
   */

  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;

  /**
   * SPACING
   */

  --section-padding: 70px;

  /**
   * TRANSITION
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}


/*-----------------------------------*\
  #LOADING
\*-----------------------------------*/

.no-scroll {
  overflow: hidden;
}

.pre-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 400px;
  z-index: 2;
  color: #fff;
}

.count {
  flex: 2;
  text-align: right;
  line-height: 1;
  padding: 0 1em;
  margin-top: 0.4em;
}

.copy {
  flex: 13;
  font-family: "PP Editorial Old";
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
}

.ml16 {
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.loader-bg {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background: #2200d0;
  z-index: -1;
}

.loader-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/images/hero.gif) no-repeat 50% 50%;
  background-size: cover;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-oxford-blue-2);
  color: var(--text-default);
  font-family: var(--fontFamily-noto_sans);
  font-size: 1.6rem;
  line-height: var(--lineHeight-4);
  overflow-y: overlay;
}

body.glassmorphism-nav {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-carolina-blue);
  border-radius: var(--radius-pill);
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 16px;
}

.hover-1,
.hover-2 {
  transition: var(--transition-1);
}

.hover-1:is(:hover, :focus-visible) {
  color: var(--text-white);
  transform: translateX(3px);
}

.hover-2:is(:hover, :focus-visible) {
  color: var(--text-slate-gray);
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-card .profile-banner {
  border-radius: var(--radius-circle);
}

.headline {
  color: var(--text-white);
  line-height: var(--lineHeight-1);
}

.headline-1 {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-extraBold);
}

.headline-2 {
  font-size: var(--fontSize-2);
}

.headline-3 {
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-2);
}

.section-title {
  margin-block-end: 10px;
}

.headline .span {
  background-image: var(--gradient-2);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn {
  background-image: var(--gradient-2);
  background-size: 200%;
  background-position: left;
  color: var(--white);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: var(--transition-1);
}

.btn:is(:hover, :focus-visible) {
  background-position: right;
}

.btn-primary {
  padding: 8px 16px;
  border-radius: var(--radius-6);
}

.btn-secondary {
  padding: 18px 30px;
  border-radius: var(--radius-pill);
}

.w-100 {
  width: 100%;
}

.card {
  background-color: var(--bg-oxford-blue);
  border: 1px solid var(--border-prussian-blue);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--bg-buttons);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  padding-block: var(--section-padding);
}

.section-text {
  font-size: var(--fontSize-3);
  margin-block-end: 70px;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-size: var(--fontSize-6);
  margin-block: 20px;
}

.card-wrapper {
  color: var(--text-dark-brown);
}

.card-wrapper :is(.card-tag, .wrapper) {
  display: flex;
  gap: 3px;
  align-items: center;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 24px;
  z-index: 4;
}

.header.active {
  padding-block: 8px;
  box-shadow: var(--shadow-1);
  border-block-end: 1px solid var(--bg-buttons);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.glassmorphism-nav {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 100px;
  padding: 20px;
  height: 15px;
  width: 100%;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 9999;
}

.glassmorphism-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.glassmorphism-nav a {
  color: black;
  text-decoration: none;
  position: relative;
  padding: 10px;
  z-index: 1;
}

.glassmorphism-nav a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(30px);
  border-radius: 40px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.glassmorphism-nav a:hover::before {
  opacity: 1;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero-bg {
  display: none;
}

.hero .container {
  display: grid;
  margin-top: 0px;
  margin-bottom: 20vh;
  gap: 50px;
}

.h-h1 {
  z-index: -2;
  flex: 1;
  position: relative;
  font-size: 7vw;
  font-family: "PP Editorial Old";
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}




/*-----------------------------------*\
  #TOPICS
\*-----------------------------------*/

.topic-card {
  padding: 24px;
  border-radius: var(--radius-8);
}

.topic-card {
  box-shadow: var(--shadow-strong);
}

.topic-card .card-content {
  margin-block-end: 15px;
}

.topic-card .card-text {
  color: var(--text-white);
  font-size: var(--fontSize-6);
  margin-block: 15px 20px;
}

.btn-group {
  display: flex;
  opacity: 0;
  align-items: center;
  gap: 10px;
}

.btn-icon {
  z-index: 1;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  background: var(--bg-buttons);
  border-radius: var(--radius-circle);
  color: var(--white);
}

.btn-icon:is(:hover, :focus-visible) {
  background: var(--gradient-1);
}

.slider {
  --slider-items: 1;
  overflow: hidden;
}

.slider-list {
  opacity: 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform var(--transition-2);
}

.slider-item {
  min-width: 100%;
}

.slider-card {
  position: relative;
}

.slider-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-3);
  border-radius: var(--radius-8);
}

.slider-list .slider-banner {
  border-radius: var(--radius-8);
}

.slider-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.slider-title {
  color: var(--text-white);
  font-weight: var(--weight-bold);
  margin-block-end: 5px;
  transition: var(--transition-1);
}

.slider-card:is(:hover, :focus-visible) .slider-title {
  color: var(--text-carolina-blue);
}

.slider-subtitle {
  font-size: var(--fontSize-7);
}


/*-----------------------------------*\
  #FEATURED
\*-----------------------------------*/

.feature-bg {
  display: none;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-card {
  padding: 20px;
  border-radius: var(--radius-16);
  transition: var(--transition-1);
}

.feature-card:is(:hover, :focus-within) {
  transform: translateY(-5px);
}

.feature-card .card-banner {
  border-radius: var(--radius-16);
}

.feature-card .card-wrapper {
  margin-block-start: 24px;
}

.feature .profile-card :is(.card-title, .card-subtitle) {
  color: var(--text-slate-gray);
}

.feature .profile-card .card-title {
  font-weight: var(--weight-bold);
}

.feature .profile-card .card-subtitle,
.feature .card-wrapper .card-btn {
  font-size: var(--fontSize-6);
}

.feature-card .card-wrapper:last-child {
  font-size: var(--fontSize-4);
  margin-block-end: 0;
}

.feature .card-wrapper .card-btn {
  position: relative;
  color: var(--text-dark-brown);
  z-index: 1;
}

.feature .card-wrapper .card-btn::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -20px;
  width: 48px;
  height: 48px;
  background-color: var(--bg-oxford-blue-2);
  border-radius: var(--radius-circle);
  z-index: -1;
}

.feature .btn {
  margin-inline: auto;
  margin-block-start: 30px;
}





/*-----------------------------------*\
  #POPULAR TAGS
\*-----------------------------------*/

.tags .grid-list {
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

.tag-btn {
  width: 100%;
  color: var(--text-slate-gray);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px;
  border-radius: var(--radius-16);
}

.tag-btn:is(:hover, :focus-visible) {
  box-shadow: var(--shadow-2);
  background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);
  background-clip: padding-box, border-box;
  border-color: transparent;
  transform: translateY(-2px);
  transition: var(--transition-1);
}

.tag-btn img {
  width: 100%;
  max-width: 32px;
}





/*-----------------------------------*\
  #RECENT POST
\*-----------------------------------*/

.recent-post .container {
  display: grid;
  gap: 50px;
}

.recent-post-card {
  display: grid;
  gap: 30px;
}

.recent-post-card .card-banner {
  border-radius: var(--radius-16);
  transition: var(--transition-1);
}

.recent-post-card:is(:hover, :focus-within) .card-banner {
  transform: translateY(-2px);
}

.recent-post-card .card-text {
  color: var(--text-white);
  font-size: var(--fontSize-6);
  line-height: var(--lineHeight-1);
}

.recent-post-card .card-badge {
  background-color: var(--bg-buttons);
  max-width: max-content;
  color: var(--text-white);
  font-size: var(--fontSize-8);
  font-weight: var(--weight-bold);
  padding: 4px 15px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
}

.recent-post-card .card-badge:is(:hover, :focus-visible),
.pagination-btn:is(:hover, :focus-visible) {
  transform: translateY(-2px);
  background-color: var(--bg-carolina-blue);
}

.recent-post-card .card-title {
  margin-block: 15px 20px;
}

.recent-post-card .card-tag {
  gap: 15px;
  color: var(--text-slate-gray);
}

.recent-post-card .card-wrapper ion-icon {
  font-size: 1.8rem;
  --ionicon-stroke-width: 40px;
}

.pagination-btn {
  background-color: var(--bg-buttons);
  color: var(--text-white);
  font-weight: var(--weight-bold);
  line-height: 1;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-block-start: 60px;
}

.aside-card {
  padding: 25px;
  border-radius: var(--radius-16);
}

.aside-title {
  margin-block-end: 40px;
}

.aside-title .span {
  position: relative;
}

.aside-title .span::after {
  content: "";
  display: block;
  width: 96px;
  height: 3px;
  background-color: var(--bg-carolina-blue);
  margin-block-start: 10px;
}

.popular-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-block-start: 20px;
}

.popular-card .card-banner {
  width: 54px;
  flex-shrink: 0;
  border-radius: var(--radius-circle);
}

.popular-list>li:not(:last-child) .card-content {
  border-block-end: 1px solid var(--border-prussian-blue);
}

.popular-card .warpper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  font-size: var(--fontSize-6);
  color: var(--text-slate-gray);
  margin-block: 12px 20px;
}

.comment-list>li:not(:last-child) .comment-card {
  padding-block-end: 22px;
  border-block-end: 1px solid var(--border-prussian-blue);
  margin-block-end: 22px;
}

.comment-card .card-text {
  color: var(--text-white);
  font-size: var(--fontSize-6);
  line-height: var(--lineHeight-1);
  margin-block-end: 20px;
}

.comment-card .profile-card {
  color: var(--text-slate-gray);
  font-size: var(--fontSize-6);
}

.comment-card .card-date {
  font-size: var(--fontSize-7);
}

.insta-card .card-text {
  color: var(--text-slate-gray);
  font-weight: var(--weight-bold);
  margin-block: 5px 30px;
}

.insta-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.insta-post {
  border-radius: var(--radius-8);
}





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  padding-inline: 20px;
  border-radius: var(--radius-48);
  color: var(--text-white);
  margin-block-end: 24px;
}

.footer-top {
  display: grid;
  gap: 20px;
}

.footer-brand .footer-text {
  font-size: var(--fontSize-6);
}

.footer-text:not(.address) {
  margin-block: 20px;
}

.footer-brand .footer-list-title {
  margin-block-end: 2px;
}

.footer-list-title {
  color: var(--text-white);
  font-size: var(--fontSize-3);
  margin-block-end: 30px;
}

.footer-list ul {
  columns: 2;
}

.footer-link {
  margin-block-end: 12px;
}

.footer .input-wrapper {
  position: relative;
  margin-block-end: 24px;
}

.footer .input-field {
  padding: 12px;
  padding-inline-start: 20px;
  border-block-end: 1px solid var(--text-white);
  font-size: var(--fontSize-6);
}

.footer .input-field::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

.footer .input-wrapper ion-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  --ionicon-stroke-width: 40px;
}

.footer-bottom {
  border-block-start: 1px solid var(--border-prussian-blue);
  padding-block: 50px;
}

.copyright {
  text-align: center;
  margin-block-end: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--text-carolina-blue);
  font-style: italic;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
  color: var(--text-carolina-blue);
  transform: translateY(-2px);
}





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-buttons);
  color: var(--white);
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  border: 3px solid var(--bg-carolina-blue);
  transition: var(--transition-1);
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) {
  box-shadow: var(--shadow-2);
}

.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    /* font size */
    --fontSize-1: 4.4rem;
    --fontSize-2: 3.5rem;

    /**
     * spacing
     */

    --section-padding: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .headline-3 {
    --fontSize-2: 2.4rem;
  }



  /**
   * HEADER
   */

  .header .btn {
    display: block;
    margin-inline-start: auto;
  }

  .header.active {
    padding-block: 20px;
  }



  /**
   * HERO
   */

  .hero {
    position: relative;
  }

  .hero .input-wrapper {
    max-width: 390px;
  }

  .hero-bg {
    display: block;
    position: absolute;
    pointer-events: none;
  }

  .hero-bg-1 {
    top: 80px;
    left: 0;
  }

  .hero-bg-2 {
    bottom: -200px;
    left: -20px;
  }

  .shape-2 {
    left: 60px;
  }



  /**
   * TOPICS
   */

  .topics .section-title {
    font-size: 2rem;
  }

  .slider {
    --slider-items: 3;
  }

  .slider-item {
    min-width: calc(33.33% - 13.33px);
  }



  /**
   * FEATURE
   */

  .feature {
    position: relative;
  }

  .feature-bg {
    display: block;
    position: absolute;
    top: -100px;
    right: 0;
    pointer-events: none;
  }



  /**
   * RECENT POST
   */

  .recent-post-card {
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
  }

  .pagination-btn {
    width: 42px;
    height: 42px;
  }



  /**
   * ASIDE
   */

  .aside-title {
    --fontSize-2: 2rem;
  }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    /* font size */
    --fontSize-1: 6.4rem;
    --fontSize-2: 4.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }



  /**
   * RECENT POST
   */

  .recent-post-card {
    grid-template-columns: 0.7fr 1fr;
  }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 930px;
  }



  /**
   * HERO
   */

  .hero {
    padding-block-start: calc(var(--section-padding) + 80px);
  }

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }



  /** 
   * TOPICS
   */

  .topic-card {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    gap: 20px;
  }



  /**
   * FEATURE
   */

  .feature-list li:nth-child(-n+2) {
    width: calc(50% - 15px);
  }

  .feature-list li:nth-child(n+3) {
    width: calc(33.33% - 20px);
  }

  .feature-list li:nth-child(n+3) .headline-3 {
    --fontSize-2: 2rem;
  }



  /**
   * TAGS
   */

  .tags .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }



  /**
   * RECENT POST
   */

  .recent-post .container {
    grid-template-columns: 1fr 0.6fr;
    align-items: flex-start;
  }



  /**
   * FOOTER
   */

  .footer-top {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .copyright {
    margin-block-end: 0;
  }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1140px;
  }

  body.glassmorphism-nav {
    overflow-y: overlay;
  }

  /**
   * HERO
   */

  .hero .container {
    max-width: 1050px;
  }


  /**
   * TAGS
   */

  .tags .grid-list {
    grid-template-columns: repeat(6, 1fr);
  }



  /**
   * FOOTER
   */

  .footer-top {
    gap: 40px;
    padding-inline: 120px;
  }


  /*********************************************************/
 /*     BROWSER.PHP STYLE                                */
/********************************************************/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
/************************************************************************************/
/*                       Header Styling                                             */
/************************************************************************************/
.header {
  display: flex;
  padding: 1em;
}

.title {
  flex: 1;
  position: relative;
  font-size: 7vw;
  font-family: "PP Editorial Old";
  font-weight: 500;
  color : #7D91B0;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/************************************************************************************/
/*                       Search Form Styling                                        */
/************************************************************************************/

.search-form {
    position: relative;
    top: 0; 
    margin-top: -50px;
    background-color: rgba(47, 47, 47, 0.9); 
    padding: 50px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }
  form {
    font-size: 0;
    max-width: 50rem;
    margin: auto;
  }
  .inp-wrap {
    display: inline-block;
  }

 [class*="grid-"] {
    vertical-align: middle;
    height: 3.125rem;
    font-size: 1.4rem;
  }
  
  .search-wrap {
    width: 50%;
  }
  
  .cat-wrap {
    width: 35%;
  }
  
  .submit-wrap {
    width: 15%;
  }
  
  .grid-20 {
    width: 20%;
  }
  
  .grid-25 {
    width: 25%;
  }
  
  .grid-75 {
    width: 75%;
  }
  
  .grid-80 {
    width: 80%;
  }
  
  .grid-100 {
    width: 100%;
  }
    
  label {
    padding: 0 1rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 3.125rem;
    background: #2F2F2F;
    cursor: pointer;
    text-align: center;
    font-weight: 300;
    color: #fff;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
  
  label:hover {
    background: #E1E1E1;
    color: #232323;
  }
  
  .search-label {
    width: 25%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
  input,
  select {
    transition: box-shadow 0.2s ease-in-out;
    border: 0;
    padding: 0 0 0 0.5em;
  }
  
  #search-field:focus,
  select:focus {
    outline: none;
    border: 0;
    box-shadow: inset 0 0 0 5px #FFC519;
  }
    
  .cat-wrap {
    padding: 0;
    position: relative;
    z-index: 1;
  }
    
  .cat-wrap::after {
    content: '\25BC';
    position: absolute;
    top: 0.6rem;
    right: 0.5em;
    color: #515151;
    font-size: 1.2rem;
    pointer-events: none;
  }
  
  select {
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  
  option {
    margin: 0.6em 0;
  }
  
  
  button::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
  }
  
  .btn {
    text-transform: uppercase;
    font-size: 1.1rem;
    border: 0;
    padding: 0 0.3em 0 0;
    background: #FF1979;
    color: white;
    font-weight: 600;
    transition: background 0.25s ease-in-out;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .btn:hover,
  .btn:focus,
  .btn:active {
    outline: 0;
    background: #FFC519;
    color: #232323;
  }
  
  .btn:active {
    transform: translateY(1px);
  }
  
  .search-icon-container {
    outline: 0;
  }
  
  #search-icon {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    outline: 0;
    fill: #fff;
  }
  
  .btn:hover #search-icon,
  .btn:focus #search-icon {
    fill: #232323;
  }
/************************************************************************************/
/*                       Game Cards Styling                                         */
/************************************************************************************/

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
}

.card__content {
    padding: 20px;
    text-align: center;
}

.card__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.card__description {
    color: #666;
    font-size: 14px;
}
/************************************************************************************/
/*                       Details Content Styling                                             */
/************************************************************************************/

.details-container {
    flex-direction: column;
    align-items: center; 
    display: grid;
    position: relative; 
    color: white;
    width: 80%;
    z-index: 2;
    height: 800px;
    background-color:#7D91B0;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border: 5px solid grey;
}

.image-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; 
  height: 100%;
}
.image {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: absolute; 
  top: 0; 
  width: 100%; 
  height: 100%;
}
.image img {
    position: absolute;
    top: 5%;
    object-fit: contain;
    width: auto;
    right: auto;
    z-index: 4;
    height: auto; 
    max-height: 40%;
    border-radius: 20px;
    border: 5px solid grey;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.card-price {
  z-index: 7;
  display: inline-block;
  width: auto;
  height: 50px;
  background-color: grey;
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid grey;
  margin-left: 19px;
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 22px;
  line-height: 50px;
  padding: 0 10px 0 10px;
}

.platform img {
  position: absolute;
  object-fit: contain;
  top: 50%; 
  right: auto;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 5%; 
  z-index: 4;
  height: auto; 
}

.details-container::after {
    content: '';
    position: absolute;
    top: 24%; 
    z-index: 3;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: grey; 
    transform: translateY(-50%); 
}

.card-price:before {
	content: "";
	position: absolute;
	display: block;
	left: -25px;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-right: 25px solid grey;
}

.card-price:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -12px;
	top: 23px;
}

.content-details {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.footer-content-details{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: auto;
    justify-content: space-between;
    display: flex;
    text-align: center;
}

/************************************************************************************/
/*                       Reviews Detail Styling                                     */      
/************************************************************************************/

.media img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;

}
/************************************************************************************/
/*                       Responsive Design                                          */
/************************************************************************************/
@media (max-width: 768px) {
    .container {
         padding: 10px;
     }
 
    .card {
         margin-bottom: 15px;
     }
 }
 
 @media screen and (max-width: 820px) {
    .search-label {
      border-radius: 0;
    }
    .cat-wrap {
      width: 50%;
    }
    .submit-wrap {
      width: 50%;
      display: block;
      margin: 1rem auto 1rem;
    }
    .btn {
      border-radius: 5px;
    }
    .search-form {
      padding: 0 1rem;
    }
  }
  
  @media screen and (max-width: 560px) {
    .cat-wrap,
    .search-wrap {
      width: 100%;
      margin-bottom: 0.5rem;
    }
    .grid-80 {
      width: 75%;
    }
    .grid-20 {
      width: 25%;
    }
  }
}